{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Delete Fruit Form -->
        <section id="edit">
            
                <div class="form">
                    <h2>Delete Fruit</h2>
                    <form method="post" action="{% url 'fruit_delete' pk=fruit.pk %}" class="edit-form">
                        {{ form }}
                        <button type="submit">Delete</button>
                        {% csrf_token %}
                    </form>
                </div>
           
        </section>

    </main>
{% endblock %}