{% extends 'base.html' %}
{% block content %}
    <section id="game-details">
        <h1>Game Details</h1>
        <div class="info-section">
            <div class="game-header">
                <!-- game image -->
                <img class="game-img"
                     src="{{ game.image_URL }}"
                     alt='{{ game.title }}'/>
                <!-- title and rating -->
                <h1>{{ game.title }} <span class="levels">Rating: {{ game.rating }}</span></h1>
                <!-- game category -->
                <p><span class="type">Category: {{ game.category }}</span></p>
                <!-- game max level (if any) -->
                <p><span class="type">Max Level: {{ game.max_Level }}</span></p>
            </div>
            <!-- game summary (if any)-->
            <p class="text">
                {{ game.summary }}
            </p>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'game_edit' pk=game.pk %}" class="button">Edit</a>
                <a href="{% url 'game_delete' pk=game.pk %}" class="button">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}
