{% extends 'base.html' %}
{% block content %}

        <!-- Edit Profile Page -->
        <section id="edit-profile-page" class="edit">
            <form method="post" action="{% url 'profile_edit' %}"  id="edit-form" >
                <fieldset>
                    <legend>Edit Profile</legend>
                    {{ form }}
                    <input class="button submit" type="submit" value="Edit">
                    {% csrf_token %}
                </fieldset>
            </form>
        </section>
{% endblock %}
