{% extends 'base.html' %}
{% block content %}
    <div class="container">

        <h1>My Recipes</h1>
        {% if recipes %}
            <div class="items-container">
                {% for recipe in recipes %}
                    <div class="item">
                        <h2>{{ recipe.title }}</h2>
                        <img class="detail-img" src="{{ recipe.image_url }}"
                             alt="recipe-image">
                        <div class="recipe-info">
                            {{ recipe.description }}
                        </div>
                        <div class="buttons-container">
                            <a class="button detail" href="{% url 'recipes_details' pk=recipe.pk %}">Details</a>
                            <a class="button edit" href="{% url 'recipes_edit' pk=recipe.pk %}">Edit</a>
                            <a class="button delete" href="{% url 'recipes_delete' pk=recipe.pk %}">Delete</a>
                        </div>
                    </div>
                    </div>
                {% endfor %}
        {% else %}
            <h2>There are no recipes.</h2>
        {% endif %}

    </div>

{% endblock %}