{% extends 'base.html' %}
{% block content %}

     <!-- No Profile Page -->
        <section id="register-page" class="register">
            <form method="post" action="{% url 'index' %}"  id="register-form">
                <fieldset>
                    <legend>Profile Form</legend>
                    {{ form }}
                    <input class="button submit" type="submit" value="Enter">
                    {% csrf_token %}
                </fieldset>
            </form>
        </section>

{% endblock %}